<% @requests.each do |request| %>
    
  <header>
  <div class="header-logo">
  <a href="/">ゲームズ</a>
  </div>
    
    <div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p> <%=request.id%> </p>
    <p> <%=request.title%> </p>
    <p> <%=request.price%> </p>
    <p> <%=request.contents%> </p>
    <p> <%=request.genre%> </p> 
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <%= link_to '詳細へ', request_path(request), class:"btn btn-primary"%>
  </div>
  
   
</div>
<%end%>